* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #f8d9eb;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/** box 3**/

.nav-search {
    display: flex;
    width: 600px;
    height: 40px;
    border-radius: 4px;

}
.nav-search:hover{
    border: 1.5px solid orange;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/** Box4 **/
span {
    font-size: 0.7rem;
}
.nav-signin {
    font-size: 0.85rem;
    font-weight: 700;
}
/** Box5 **/
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel{
    height: 40px;
    background-color: #f6a4ca;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}